body {
    font-family: Arial, sans-serif;
    background-color: #f8f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    position: fixed;
    top: 10px;
    right: 550px;
    color: #0015ce;
}

.form-container {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(124, 142, 247, 0.808);
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button[type="submit"] {
    background-color: #27ea09; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #01c22b; 
    color: black;
}
