<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sayfa</title>
</head>
<body>

<h1> Sayfa </h1>

{% if message %}
    <p> {{message}} </p>
{% else %}
    <p> Mesaj gönderilemedi... </p>
{% endif %}

{% for number in numbers %}
    <p> {{number}} </p>

{% endfor %}
<p> veya bu şekilde de olabilir </p>


    <ul>
    {% for number in numbers %}
        <li> {{number}} </li>
    {% endfor %}
    </ul>

</body>
</html>